.container{
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
}
.header{
    margin: 23px 0 23px;
}
.burger-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px 14px ;
    height: 21px;
    width: 17px;
    color: #FFF;
    background-color: #000;
    cursor: pointer;
}
.burger-wrap{
    position: relative;
    display: flex;
    justify-content: end;
    .burger{
        display: none;
        position: absolute;
        right: 0;
        top: 44px;
        .burger__item{
            padding: 6px 100px 3px 14px;
            background-color: #F5F5F5;
            cursor: pointer;            
            .burger__item--link{
                font-family: $font-roboto;
                @include textProperty (400, 11px, 22px);
                text-decoration: none;
                text-transform: uppercase;               
                color: #4E4E4E;
                                
            }
            &:hover{
                background-color: #E5E5E5;
            }
            &:first-child .burger__item--link{
                color: #57A4A4;
            }
        }
    }
    .opened{
        display: flex;
        flex-direction: column;
    }
}
.posts-wrap{
    margin-top: 38px;
    .posts{

        .posts__item{
            margin-top: 23px;
        }
    }
}
.section__title{
    font-family: $font-roboto;
    @include textProperty (bold, 14px, 12px);
    text-transform: uppercase;
    color: #4E4E4E;
    & span:last-of-type{
        display: none;
    }
}

.posts{
    .posts__item{
        .posts__img{
            margin-bottom: 10px;
            width: 160px;
            height: 140px;
        }
        .posts__title{
            font-family: $font-roboto;
            @include textProperty (bold, 14px, 30px);
            color: #4E4E4E;
            cursor: pointer;
        }
        .posts__coments{
            font-family: $font-roboto;
            @include textProperty (400, 11px, 20px);
            text-decoration: none;
            color: #7C7C7C;
            cursor: pointer;
            margin-bottom: 5px;
        }
        .posts__text{
            display: none;
        }
    }
}
.instagram-wrap{
    margin-top: 72px;
    margin-bottom: 42px;
    .instagram{
        margin-top: 13px;        
    }
}
.instagram{
    .instagram__item{
        display: none;
        width: 301px;
        height: 301px;
        &:first-child{
            display: block;
        }
    } 
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    .footer__title{
        margin-top: 38px;
        font-family: $font-roboto;
        @include textProperty (bold, 14px, 22px);
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    .footer__text{
        margin-top: 8px;
        max-width: 300px;
        width: 100%;
        font-family: $font-roboto;
        @include textProperty (400, 12px, 20px);
        text-align: center;
        color: #B9B9B9;
        & span:last-of-type{
            display: none;
        }
    }
    .socials-list{
        margin-top: 25px;      
    }
    .footer__contacts{
        margin: 25px 0 50px;
        text-align: center;
        font-family: $font-roboto;
        @include textProperty (400, 14px, 24px);
        color: #B9B9B9;
        & span{
            display: block;
        }
    }
}

.socials-list{
    display: flex;
    gap: 5px;
    .socials-list__item{  
        cursor: pointer;      
        .fa-rss{
            @include fa-icon ();
            color: green;
        }
        .fa-facebook-f{
            @include fa-icon ();
            color: #39599F;
        }

        .fa-twitter{
            @include fa-icon ();
            color: #45B0E3;
        }
        .fa-dribbble{
            @include fa-icon ();
            color: #D97AB0;
        }
        .fa-pinterest-p{
            @include fa-icon ();
            color: #CC212C;
        }

    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .header{
        margin: 42px 0 42px;
    }
    .burger-button{
        display: none;
    }
    .burger-wrap{
        display: block;
        .burger{
            display: flex;
            justify-content: center;
            gap:34px;
            position: relative;
            right: 0;
            top: 0;
            .burger__item{
                padding: 0;
                background-color:#ffffff;
                cursor: pointer;            
                &:hover{
                    background-color: #ffffff;
                }
            }
        }
    }
    .section__title{
        display: flex;
        justify-content: space-between;
        & span:last-of-type{
            display: inline;
        }
    }
    .posts{
        display: flex;
        flex-direction: column;
        .posts__item{
            display: flex;
            gap: 20px;
            .posts__img{
                margin-bottom: 10px;
                width: 160px;
                height: 140px;
            }
            .posts__title{                
                font-size: 16px;
            }
            .posts__coments{                
                font-size: 12px;
                margin-bottom: 13px;
            }
            .posts__text{
                display: inline-block;
                font-family: $font-roboto;
                font-size: 14px;
                line-height: 26px;
                color: #5C5C5C;
            }
        }
    }
    .instagram-wrap{
        margin-top: 100px;
        margin-bottom: 50px;
        .instagram{
            margin-top: 35px;        
        }
    }
    .instagram{
        display: flex;
        gap: 10px;
        .instagram__item{
            display: block;
            width: 250px;
            height: 250px;
            &:last-child{
                display: none;
            }
        } 
    }
    .footer{
        .footer__title{
            margin-top: 58px;
            font-size: 16px;

        }
        .footer__text{
            margin-top: 22px;
            max-width: 690px;
            width: 100%;
            @include textProperty (400, 16px, 26px);
            color: #B9B9B9;
            & span:last-of-type{
                display: inline;
            }
        }
        .socials-list{
            margin-top: 37px;      
        }
        .footer__contacts{
            margin: 34px 0 56px;
            display: flex;
            justify-content: center;
            gap: 5px;
            @include textProperty (400, 16px, 26px);
        }
    }
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1170px;

    }
    .header{
        margin: 52px 0 52px;
    }
    .burger-wrap{
        .burger{
            gap:68px;
        }
    }
    .posts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .posts__item{
            width: 50%;
        }
    }
    .instagram-wrap{
        margin-top: 110px;
    }
    .instagram{
        display: flex;
        justify-content: space-between;
        .instagram__item{
            width: 285px;
            height: 285px;
            &:last-child{
                display: block;
            }
        } 
    }
}